<h1><%= @user.name %></h1>

<h3>Followers: <%= @user.followers.count %></h3>

<%= form_for Relationship.new, remote: true do |f| %>
  <%= f.hidden_field :follower_id, :value => current_user.id %>
  <%= f.hidden_field :followed_id, :value => @user.id %>
  <%= f.submit "Follow", class: "btn btn-success" %>
<% end %>

<h2>Twists</h2>

<%= render @user.posts %>
